.about {
    background-color: $sec-dark;
    padding-bottom: 24.469px;
    &__header {
        background-color: $sec-dark;
        color: $pri-white;
    }
    &__text {
        color: $pri-white;
        margin-top: -0.5em;
    }
}