/**
 * Intro component module
*/

.Intro {
    height: calc(100vh - 20px);
    background: url(../../images/design/christopher-gower-m_HRfLhgABo-unsplash.jpg) 0 0 no-repeat fixed;
    overflow: hidden;
}